{% extends 'base/base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'cc/styles/profile.css' %}">{% endblock %}
{% block title %}My Profile{% endblock %}
<h3>{% block h3 %}My Profile{% endblock %}</h3>




{% block body %}
<form method="POST" class="container" style="margin-top: -100px" >
    {% csrf_token %}
    {% for field in edit_form %}
        {{ field.errors }}
        {{ field.label_tag }}
        {{ field }}
{% endfor %}
{% if user_type == 1 %}
<h5>What do you need?</h5>
{% else %}
<h5>What do you have?</h5>
{% endif %}
    {{ item_form.as_p }}
<p>Other items should be separated by commas</p>
    <input type="button" class="blue" name="OK" onclick="javascript:history.back(-1);" value="OK">
</form>
{% endblock %}



