{% extends 'base/base.html' %}
{% load static %}
{% block title %}Charity List{% endblock %}
{% block h1 %}Charity List{% endblock %}
{% block h3 %}{% endblock %}

{% block body %}

    <div >
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 g-5">
           {% for charity,item in lists %}
        <div class="col" >
          <div class="card shadow-sm" style="background: burlywood">
            <div >
              <p class="card-text">
               Charity Name:
                  {{ charity.long_name }}<br/>
              Needs:
            {% for ele in item %}

                {{ ele.need }}
                {% endfor %}

              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'details' charity.username %}" class="btn" style="color: #3c763d">More Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
          {% endfor %}

      </div>
    </div>
  </div>
    <center>
    <form method="POST" style="margin-top: 50px">
        {% csrf_token %}
        {{form.as_p}}
            <button class="blue" type="submit">Go</button>
        </form>
        <p>Page {{ page_nums }} of {{ pages }}</p>
    </center>

{% endblock %}



