{% extends 'base/base.html' %}
{% load static %}


{% block body %}
    <center>
    <form method="POST" class="container" >
        {% csrf_token %}
        {{ form.as_p }}
        <button class="blue" type="submit">Send</button>
    </form>
{#    {% if message_request %}#}
{#        <p>Message sent successfully!</p>#}
{#        <div type="button" class="blue" style="width: 10%">#}
{#            <a href="{% url 'details' connect_slug %}" class="blue">OK</a>#}
{#        </div>#}
{#    {% endif %}#}
    </center>
{% endblock %}