{% extends 'base/base.html' %}
{% load static %}


{% block title %}{{ details.long_name }}{% endblock %}
{% block h1 %}{{ details.long_name }}{% endblock %}
{% block h3 %}Details{% endblock %}
{% block body %}
    <center>
{% if details_found %}
    <body>
    <div class="card item-card card-block">
        Name:
        {{ details.long_name }}<br/>
        Email:
        {{ details.email }}<br/>
        Description:
        {{ details.description }}<br/>
        Website:
        {{ details.website }}<br/>
        {% if details_user.user_type == 1 %}
            What we need:
        {% else %}
            What we have:
        {% endif %}
        {% for ele in item %}
            {{ ele.need }}
        {% endfor %}
        {% if signin_status %}
        {% if current_user.user_type != details_user.user_type %}
        <a href="{% url 'connect' details_user %}" class="blue" type="submit" style="width: 10%">Connect</a><br/>
        {% endif %}
        {% endif %}
    </div>
    {% if connection_user %}
    <div class="card item-card card-block">
        Connected Sponsors:<br/>
        {% for ele in connection_user %}
        Sponsor name: {{ ele.long_name }}<br/>
        Website:{{ ele.website }}<br/>
          <a href="{% url 'details' ele.long_name %}" class="blu" style="color: #d21254">More Details</a><br/>
        {% endfor %}
    </div>
        {% endif %}
    </body>
{% else %}
    <p>No details found for this user, sorry!</p>
{% endif %}
    </center>
{% endblock %}

