{% extends 'base/base.html' %}
{% load static %}
<title>{% block title %}Inbox{% endblock %}</title>
<h1>{% block h1 %}Inbox{% endblock %}</h1>
<h3>{% block h3 %}{% endblock %}</h3>
{% block body %}
<body>

<h2>Unsolved Request</h2>
<div>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 g-3">
            {% for item in message_receive_unread %}
                <div class="col">
                <div class="card shadow-sm" style="background: burlywood">
                <div>
                <p class="card-text">
                    <h5>
                    Message id:
                    {{ item.id }}<br/>
                    Message from:
                    {{ item.request_user }}<br/>
                </h5>

                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'reply_message' item.id %}" class="btn" style="color: #3c763d">More Details</a>
                    </div>
                </div>
            </p>
            </div>
            </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<h2>Solved Request</h2>
<div>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 g-3">
            {% for item in message_receive_read %}
                <div class="col">
                <div class="card shadow-sm" style="background: burlywood">
                <div>
                <p class="card-text">
                    <h5>
                    Message id:
                    {{ item.id }}<br/>
                    Message from:
                    {{ item.request_user }}<br/>
                    Link Status:
                    {% if item.message_type == 2 %}
                    Successful
                    {% elif item.message_type == 3 %}
                    Failed
                    {% endif %}
                </h5>


                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'show_message' item.id %}" class="btn" style="color: #3c763d">More Details</a>
                    </div>
                </div>
            </p>
            </div>
            </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

</body>
{% endblock %}