{% extends 'base/base.html' %}
{% load static %}
<title>{% block title %}Inbox{% endblock %}</title>
<h1>{% block h1 %}Welcome!!{% endblock %}</h1>
<h3>{% block h3 %}Inbox{% endblock %}</h3>
{% block body %}
<body>

<h2>Unsolved Request</h2>
<div>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 g-3">
            {% for i in message %}
            {% if i.state == 0 %}
                <div class="col">
                <div class="card shadow-sm" style="background: burlywood">
                <div>
                <p class="card-text">

                    {#                    {{ i.id }}<br/>#}
                    {#                    {{ i.state }}<br/>#}
                    Message ID:
                    {{ i.id }}<br/>
                    From:
                    {{ i.name }}<br/>

                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'inbox_message'%}" class="btn" style="color: #3c763d">More Details</a>
                    </div>
                </div>
            </p>
            </div>
            </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<h2>Agreed Request</h2>
<div>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 g-3">
            {% for i in message %}
            {% if i.state == 1 %}
                <div class="col">
                <div class="card shadow-sm" style="background: burlywood">
                <div>
                <p class="card-text">

                    {#                    {{ i.id }}<br/>#}
                    {#                    {{ i.state }}<br/>#}
                    Message ID:
                    {{ i.id }}<br/>
                    From:
                    {{ i.name }}<br/>

                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'inbox_message'%}" class="btn" style="color: #3c763d">More Details</a>
                    </div>
                </div>
            </p>
            </div>
            </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<h2>Disagreed Request</h2>
<div>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 g-3">
            {% for i in message %}
            {% if i.state == 2 %}
                <div class="col">
                <div class="card shadow-sm" style="background: burlywood">
                <div>
                <p class="card-text">

                    {#                    {{ i.id }}<br/>#}
                    {#                    {{ i.state }}<br/>#}
                    Message ID:
                    {{ i.id }}<br/>
                    From:
                    {{ i.name }}<br/>

                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'inbox_message'%}" class="btn" style="color: #3c763d">More Details</a>
                    </div>
                </div>
            </p>
            </div>
            </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
</body>
{% endblock %}