{% extends 'base/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'cc/styles/profile.css' %}">{% endblock %}
{% block title %}Message xxx{% endblock %}
{% block h1 %}Message xxx{% endblock %}
{% block h3 %}{% endblock %}
{% block body %}
    <center>
            Request User:
            {{ message.name }}<br/>
            Message:
            {{ message.message }}<br/>
            <button class="blue" type="submit">OK</button>
    </center>
{% endblock %}