{% extends 'base/base.html' %}
{% load static %}
{% block title %}Recommendation{% endblock %}
{% block h1 %}Recommendation Sponsors{% endblock %}
{% block h3 %}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'cc/styles/lists.css' %}">
    {#    <link href="//cdn.shopify.com/s/files/1/0379/2689/5754/t/8/assets/theme.scss.css?enable_css_minification=1&amp;v=15910824069508349433" rel="stylesheet" type="text/css" media="all" />#}
{% endblock %}


{% block body %}
    <center>
        <form method="POST" id="form0">
            {% csrf_token %}
        </form>
        <script language="JavaScript" type="text/javascript">
            /* Collect all forms in document to one and post it */
            function submitAllDocumentForms() {
                var arrDocForms = document.getElementsByTagName('form');
                var formCollector = document.createElement("form");
                with (formCollector) {
                    method = "post";
                }
                for (var ix = 0; ix < arrDocForms.length; ix++) {
                    appendFormVals2Form(arrDocForms[ix], formCollector);
                }
                document.body.appendChild(formCollector);
                formCollector.submit();
            }

            /* Function: add all elements from frmCollectFrom and append them to
                         frmCollector before returning frmCollector*/
            function appendFormVals2Form(frmCollectFrom, frmCollector) {
                var frm = frmCollectFrom.elements;
                for (var ix = 0; ix < frm.length; ix++)
                    frmCollector.appendChild(frm[ix]);
                return frmCollector;
            }
        </script>
        <form method="POST" id="form1">
            {{ recommendation_form.as_p }}
        </form>
        <button class="blue" type="submit" onClick="submitAllDocumentForms()">Select</button>
    </center>
    <div>

        <div class="container" style="margin-right: 150px">
            <!--   <div class="card card-block mb-2">
                <h4 class="card-title">Card 1</h4>
                <p class="card-text">Welcom to bootstrap card styles</p>
                <a href="#" class="btn btn-primary">Submit</a>
              </div>   -->
            <div class="row">
                <div class="row row-cols-1 row-cols-sm-3 g-3">
                    {% for sponsor,item in return_profile %}
                        <div class="card item-card card-block" style="max-width: 15rem; margin-right: 1.5rem">
                            <h4 class="card-title text-right"><i class="material-icons">Sponsor
                                Name: {{ sponsor.long_name }}</i></h4>
                            {% comment %}                            <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg"
                                 alt="Photo of sunset">{% endcomment %}
                            <p style="size: A4; font-family: sans-serif">We Have:</p>
                            {% for ele in item.1 %}
                                <p style="font-family: cursive">{{ ele.need }}</p>
                            {% endfor %}
                            </br>Matching needs:
                            {{ item.0 }} items<br/>

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'details' sponsor.username %}" class="blue">More
                                        Details</a>
                                </div>
                            </div>
                        </div>


                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
    <p></p>
    <center>
        <form method="POST" id="form2">
            {{ page_form.as_p }}
        </form>
        <button class="blue" type="submit" onClick="submitAllDocumentForms()">Go</button>
        <p>Page {{ page_nums }} of {{ pages }}</p>
    </center>
{% endblock %}