{% extends 'base/base.html' %}
{% load static %}


{% block css %}<link rel="stylesheet" href="{% static 'cc/styles/signin.css' %}">{% endblock %}
{% block title %}{{ message.id }}{% endblock %}
{% block h1 %}Details of Message {{message.id}}{% endblock %}
{% block h3 %}{% endblock %}
{% block body %}
    <center>
            <form method="post" class="container">
                {% csrf_token %}
                Request Message:<br/>
                {{ message.message_request }}<br/>
                {{ form.as_p }}
                <a href="{% url 'inbox' %}">
                    <button class="blue" type="submit">Send</button>
                </a>
            </form>
{#        {% if message_reply %}#}
{#        <p>Message sent successfully!</p>#}
{#        <div type="button" class="blue" style="width: 10%">#}
{#            <a href="{% url 'inbox' %}" class="blue">OK</a>#}
{#        </div>#}
{#    {% endif %}#}
    </center>
{% endblock %}