{% extends 'base/base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'cc/styles/details.css' %}">{% endblock %}
{% block title %}{{ message.id }}{% endblock %}
{% block h1 %}
Message From {{ request_long }} to {{ reply_long }}
{% endblock %}
{% block h3 %}{% endblock %}
{% block body %}
    <center>
    <div >
        <div class="row row-cols-1 row-cols-sm-1 g-1" >
            <div class="container" style="max-width: 20rem">
             <div class="row">
              <div class="card item-card card-block">
              <h4 class="card-title text-right">
{#                  <i class="material-icons">#}
{#                  Messages with:#}
{#                    {{ message.reply_user }}#}
{#                  </i>#}
              </h4>
            <p style="size: A4; font-family: sans-serif">Request Message:</p>
            <p style="font-family: cursive">{{ message.message_request }}</p>
            <p style="size: A4; font-family: sans-serif">Reply Message:</p>
            {% if message.message_type == 1 %}
                <p style="size: A4; font-family: sans-serif">Not yet replied.</p>
            {% elif message.message_type == 2 %}
                <p style="font-family: cursive">{{ message.message_reply }}</p>
            {% elif message.message_type == 3 %}
                <p style="font-family: cursive">{{ message.message_reply }}</p>
            {% endif %}
            <input type="button" class="blue" name="OK" style="width: 10%" onclick="javascript:history.back(-1);" value="OK">
              </div>
             </div>
            </div>
        </div>
    </div>
    </center>
{% endblock %}
