{% extends 'base/base.html' %}
{% load static %}
{% block title %}Sign Up{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'cc/styles/signup_style.css' %}">{% endblock %}
{% block head%}Sign Up{% endblock %}
{% block body %}
<form method="POST" class="container">
        {% csrf_token %}
        {{form.as_p}}
    <!--<input type="submit" value="Sign up" class="cancelbtn"> -->
        <button type="submit" class="cancelbtn" name="Sign up">Sign Up</button>
</form>
{% endblock %}