{% extends 'base/base.html' %}
{% load static %}
{% block title %}Charity List{% endblock %}
{% block h1 %}Charity List{% endblock %}

{% block body %}
    <center>
        {% for charity,item in lists %}
            {{ charity.long_name }}<br/>
<!--            {{ charity.email }}<br/>-->
<!--            {{ charity.description }}<br/>-->
<!--            {{ charity.website }}<br/>-->
            {% for ele in item %}
                {{ ele.need }}<br/>
            {% endfor %}
            <div class="meetup-actions">
                <a href="{% url 'details' charity.username %}" class="btn">More Details</a>
            </div>
        {% endfor %}
        <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button style="background-color:#F4EB16; color:blue" class="cancelbtn" type="submit">Go</button>
        </form>
        <p>Page {{ page_nums }} of {{ pages }}</p>

    </center>
{% endblock %}



