<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<h1>content</h1>
<p1>
    {% for profile,item in lists %}
        {{ profile.long_name }}<br/>
        {{ profile.email }}<br/>
        {{ profile.description }}<br/>
        {{ profile.website }}<br/>
        {% for ele in item %}
            {{ ele.need }}<br/>
        {% endfor %}
        <div class="meetup-actions">
            <a href="{% url 'details' profile.username %}" class="btn">More Details</a>
        </div>
    {% endfor %}
</p1>

</body>
</html>

