.jack {
        position: center;
        border-radius: 15px;
        background: rgba(151, 149, 149, 0.5);      /*设置form表单透明度*/
        text-align: center;
        font-size: 14pt;
        overflow: hidden;
}